.customize {

  & label {
    font: var(--body-sm-light);
    color: var(--text-heading);
  }
  & .main-color{
  & .radio-wrapper {
    display: grid;

    grid-template-columns: repeat(11, 4rem);
    gap: 1.8rem;

    & .radio-inner input {
      height: 4rem;
      width: 4rem;
      border-radius: 999%;
      border: 6px solid var(--shape-button);
    }

    & .radio-inner input:hover {
      border: 6px solid var(--shape-hover);
    }

    & .radio-inner input:checked {
      outline: 4px solid var(--brand-light);
    }
  }
}

  & .theme {
    & .radio-wrapper {
      display: grid;
      gap: .8rem;
      grid-template-columns: repeat(4, 1fr);

      & .radio-inner {
        position: relative;
        display: grid;
        gap: .8rem;
        justify-items: center;

        background-color: var(--shape-button);
        border-radius: .8rem;
        border: 2px solid transparent;
        
        align-items: center;
        padding: .4rem .4rem .8rem .4rem;

        & input,
        & input:focus,
        & input:hover {
          all: unset;
          position: absolute;
          inset: 0;
        }

        & img {
          width: 100%;
          border-radius: .4rem;
          object-fit: cover;
        }

        & label {
          text-align: center;
          line-height: auto;
        }

        &:hover {
          background-color: var(--shape-hover);
        }

        &:has(:checked) {
          border: 2px solid var(--brand-light);
          border-radius: .8rem;
        }
      }
    }
  }
}

.switch {
  padding-block: .8rem;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  width: 17.6rem;

  & .toggle-label label {
    font: var(--body-sm-light);
    transition: color 0.3 ease;
    position: relative;
}

  & #switch {
    position: relative;
    width: 6.4rem;

    & span {
      display: block;
      border: 1px solid var(--input-stroke);
      border-radius: 99.9rem;

      width: 7rem;
      height: 4rem;

      background-color: var(--input-base);
      transition: background-color 0.3s ease;
      }

      & input {
        position: absolute;
        z-index: 1;
        left: 7%;
        top: 10%;

        width: 2.4rem;
        height: 2.4rem;

        background-color: var(--shape-button);

        border-radius: 50%;

        outline: none;
        border: none;

        &:checked {
          transform: translateX(95%);
          background-color: var(--text-heading);

          &:checked + span {
            background-color: var(--brand-light);

            }

            &:has(:enabled) + p .dark {
              display: none;
            }
          }
        }
      }
    }

    .cover {
      display: flex;
      flex-direction: column;
      & label {
        margin-bottom: 1.2rem;
      }

      & input, 
      input:hover,
      input:focus {
        all: unset;
        inset: 0;
      }
    }

