input, textarea {
  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: var(--danger);
    font: var(--body-xs);

  }
}

input, select, textarea {
  width: 100%;
  border-radius: .8rem;
  appearance: none;
  outline: 1px solid var(--input-stroke);
  border: 2px solid transparent;
  padding: 1.6rem;
}

input:focus,
textarea:focus {
  border: 1px solid var(--brand-light);
}

input:invalid,
textarea:invalid {
  border: 1px solid var(--danger);
}

.input-wrapper, .text-area {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

label {
  font: 400 1.4rem var(--font-open);
}