input, textarea {
  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: var(--danger);
    font: var(--body-xs);
  }
}

input, select, textarea {
  appearance: none;

  max-width: 100%;
  border-radius: .8rem;
  outline: 1px solid var(--input-stroke);
  border: 2px solid transparent;
  background-color: var(--input-base);

  color: var(--text-body);
  font: var(--body-md);
  
  padding: 1.6rem;
}

input:focus,
select:focus,
textarea:focus,
input[type='datetime']:focus-within {
  outline: .25rem solid var(--brand-light);
  border-color: var(--brand-dark);
  outline-offset: .1px;
}

input:invalid,
textarea:invalid {
  outline: 0.125rem solid var(--danger);
}

.input-wrapper, .text-area {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

label {
  font: 400 1.4rem var(--font-open);
}

input[required] + .error {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font: var(--body-xs);
  color: var(--danger);
}

textarea:not(:focus):invalid + .error {
  opacity: 0;
}

textarea[required] + .error {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font: var(--body-xs);
  color: var(--danger);
}

input:not(:focus):invalid + .error {
  opacity: 0;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="datetime-local"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}