#invite {
  background-color: var(--shape-body);
  padding: 8rem 13rem;
  overflow: scroll;

  & header h1 {
    font: var(--heading-md);
    color: var(--text-heading);
    margin-bottom: 4rem;
  }
}